<div class="form">
    {{input class="sub-input" type='email' value=email disabled=(or completed isLoading) enter='submit' placeholder="Email"}}
    <div class="button waves-effect {{if isLoading 'disabled'}}" {{action 'submit'}}>
        {{#if isLoading}}
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        {{else if completed}}
            <i class="material-icons">done</i>
        {{else if error}}
            <i class="material-icons">error</i>
        {{else}}
            Get Early Access
        {{/if}}
    </div>
</div>