{{#if (eq currentAd 'remove_ads')}}
    <a href='#' {{action 'removeAds'}}>
        <img src="/images/remove_ads.png">
    </a>
{{else if (eq currentAd 'increase_limits')}}
    <a href='#' {{action 'increaseLimits'}}>
        <img src="/images/increase_limits.png">
    </a>
{{else}}
    <a href="https://api.textto.io/ads/click?id={{currentAd._id}}" target="_blank">
        <img src={{currentAd.image}}>
    </a>
{{/if}}