<div class="landing">
    {{navigation-bar}}

    <div class="section row first-section">

            <div class="text-side section-item">
                <h1 class="appearing" delay="200" movementAmount="80px">Text From Your Computer.</h1>
                <h2 class="appearing" delay="800">For Free.</h2>
                <div class="hide-on-small-only">
                    <div class="description appearing" delay="1200">
                        Sync your Android phone with Textto and text from your computer for free!
                    </div>
                    <div class="cta large appearing" delay="1240" {{action 'openWeb'}}>Get Started</div>
                </div>
            </div>

        <div class="image-side section-item appearing block left-side" delay="800">
            {{conversation-demo}}
        </div>

        <div class="section-item hide-on-med-and-up">
            <div class="description appearing" delay="800">
                Sync your Android phone with Textto and text from your computer for free!
            </div>
            <a href="https://play.google.com/store/apps/details?id=com.moduloapps.textto">
                <img class="badge" src="/images/google-play-badge.png">
            </a>
        </div>

    </div>

    <div class="section row reverse second-section">
            <div class="image-side section-item phone-halo appearing left-side" id="login-screen">
                <img src="/images/login-screen.png">
            </div>
            <div class="text-side section-item spacing-bottom appearing">
                <h1>Simple.</h1>
                <div class="description">
                    <p>Get started in seconds.</p>
                    <p>Just install the Android app and sign in with Google to connect your device.</p>
                    <p>Once your device is connected, use Textto's website or desktop applications to seamlessly text through your phone.</p>
                    <div class="cta hide-on-small-only" {{action 'openWeb'}}>Get Started</div>
                </div>
            </div>
    </div>

    <div class="section row big">
        <div class="text-side section-item left-side appearing">
            <h1>Fully Featured.</h1>
            <div class="description">
                <p>Textto comes with all the features you would expect in a messaging application.</p>
                <p>Express yourself with countless emojis, easily searched and added to your texts.</p>
                <p>Quickly send photos from your computer through your Android device.</p>
                <div class="cta hide-on-small-only" {{action 'openWeb'}}>Get Started</div>
            </div>
        </div>
        <div class="image-side section-item appearing" delay="200">
            <img src="/images/emoji.gif">
        </div>
    </div>

    <div class="section row reverse">
        <div id="chat-screen" class="image-side section-item phone-halo appearing left-side" delay="200">
            <img src="/images/chat-screen.png">
        </div>
        <div class="text-side section-item spacing-bottom appearing">
            <h1>Keep your texting app.</h1>
            <div class="description">
                <p>Textto syncs with your existing texting app.</p>
                <p>Whether you use the default texting app or a third party app, we've got you covered.</p>
                <p>With Textto, there's no need to compromise.</p>
                <div class="cta hide-on-small-only" {{action 'openWeb'}}>Get Started</div>
                <p></p>
            </div>
        </div>
    </div>

    <div class="section row">
        <div class="text-side section-item left-side appearing">
            <h1>Secure.</h1>
            <div class="description">
                <p>All connections to Textto's servers are encrypted and made over ssl.</p>
                <p>Manage and remove your connected devices remotely though the website.</p>
                <p>Set a master password and enable end-to-end encryption. Read more about e2e <a href="/e2e">here</a>.</p>
            </div>
        </div>
        <div class="image-side section-item appearing right-side">
            <img src="/images/secure.png" id="secure-img">
        </div>
    </div>

    <div class="section row big">
        <div class="text-side section-item left-side appearing">
            <h1>Available Everywhere.</h1>
            <div class="description">
                <p>Download the desktop application available for Mac and Windows, or use the fully-featured website.</p>
                <p>Manage all of your devices directly securely from the web.</p>
                <div class="cta hide-on-small-only" {{action 'openWeb'}}>Get Started</div>
            </div>
        </div>

        <div class="image-side section-item appearing" delay="200">
            <div class="comp-window">
                <div class="nav">
                    <div class="button red"></div>
                    <div class="button yellow"></div>
                    <div class="button green"></div>
                </div>
                <img src="/images/linux-screen.png">
            </div>
        </div>
    </div>

    <div class="row centered">
        <h2>Join Textto and Start Texting for Free.</h2>
        <div class="cta large hide-on-small-only" {{action 'openWeb'}}>Get Started</div>
        <a class="hide-on-med-and-up" href="https://play.google.com/store/apps/details?id=com.moduloapps.textto">
            <img class="badge" src="/images/google-play-badge.png">
        </a>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="hide-on-small-only col m1"></div>
                <div class="col m4 s6">
                    &copy; Textto 2018
                    <br>
                    <a href="mailto:help@textto.io">Contact</a>
                    <br>
                    <a href="/changes">Change Log</a>
                </div>
                <div class="col m4 s6">
                    <a href="/legal/privacy">Privacy Policy</a>
                    <br>
                    <a href="/legal/terms">Terms of Service</a>
                </div>
            </div>
        </div>
    </div>


</div>