{{side-bar threads=threads select-thread=(action 'onThreadSelected') no-messages='noMessages'}}

<top-bar>
    {{nav-bar go-home=(action "goHome")}}
    <div class="right-content">
        {{#if activeThread}}
            {{contact-picture contacts=activeThread.contacts length=activeThread.addresses.length}}
            <div class="details">
                <span class="name">
                    {{recipient-list contacts=activeThread.contacts addresses=activeThread.addresses}}
                </span>
                <span class="snippet">
                    {{emoji-text content=activeThread.snippet print=true}}
                </span>
            </div>
        {{/if}}
    </div>
</top-bar>

<div class="content-container">
    {{send-box threadId=activeThread.androidId to=(recipient-list contacts=activeThread.contacts addresses=activeThread.addresses)}}
    {{conversation-view threadId=activeThread.androidId contacts=activeThread.contacts}}
</div>

{{modal-service}}
{{side-nav}}