<div class="threads-page themed color-text-primary">
    {{side-bar threads=threads select-thread=(action 'onThreadSelected') no-messages='noMessages'}}

    <top-bar class="color-primary">
        {{nav-bar go-home=(action "goHome")}}
        <div class="right-content">
            {{#if activeThread}}
                {{contact-picture contacts=activeThread.contacts length=activeThread.addresses.length}}
                <div class="details">
                    <span class="name color-text-primary">
                        {{emoji-text content=(recipient-list contacts=activeThread.contacts addresses=activeThread.addresses)}}
                    </span>
                    <span class="snippet dark">
                        {{address-list activeThread.addresses}}
                    </span>
                </div>
            {{/if}}
        </div>
    </top-bar>

    <div class="content-container color-primary color-text-primary">
        {{send-box threadId=activeThread.androidId to=(recipient-list contacts=activeThread.contacts addresses=activeThread.addresses)}}
        {{conversation-view threadId=activeThread.androidId contacts=activeThread.contacts}}
    </div>

    {{modal-service}}
    {{side-nav transitionToPath='transitionToPath'}}
</div>