{{side-bar threads=threads onThreadClick=(action 'onThreadClick')}}

<top-bar>
    {{nav-bar}}
    <div class="right-content">
        {{#if activeThread}}
            {{contact-picture contact=activeThread.contact}}
            <span class="name">
                {{#if activeThread.contact.name}}
                    {{{activeThreadTitle}}}
                {{else}}
                    {{activeThread.address}}
                {{/if}}
            </span>
        {{/if}}
    </div>
</top-bar>

<div class="content-container">
    {{ send-box on-send=(action 'onSend')}}
    {{#if (or messages.length scheduledMessages.length)}}
        <div class="messages">
            {{#each scheduledMessages as |message|}}
                {{message-view message=message}}
            {{/each}}
            {{#each messages as |message|}}
                {{message-view message=message}}
            {{/each}}
        </div>
    {{/if}}
</div>