{{side-bar threads=threads onThreadClick=(action 'onThreadClick')}}

<top-bar>
    {{nav-bar}}
    <div class="right-content">
        {{#if activeThread}}
            {{contact-picture contacts=activeThread.contacts length=activeThread.addresses.length}}
            <span class="name">
                {{recipient-list contacts=activeThread.contacts addresses=activeThread.addresses}}
            </span>
        {{/if}}
    </div>
</top-bar>

<div class="content-container">
    {{ send-box on-send=(action 'onSend')}}
    {{#if (or messages.length scheduledMessages.length)}}
        <div class="messages">
            {{#each scheduledMessages as |message|}}
                {{message-view message=message}}
            {{/each}}
            {{#each messages as |message|}}
                {{message-view message=message}}
            {{/each}}
        </div>
    {{/if}}
</div>