{{side-bar threads=threads select-thread=(action 'onThreadSelected')}}

<top-bar>
    {{nav-bar}}
    <div class="right-content">
        {{#if activeThread}}
            {{contact-picture contacts=activeThread.contacts length=activeThread.addresses.length}}
            <span class="name">
                {{recipient-list contacts=activeThread.contacts addresses=activeThread.addresses}}
            </span>
        {{/if}}
    </div>
</top-bar>

<div class="content-container">
    {{send-box threadId=activeThread.androidId to=(recipient-list contacts=activeThread.contacts addresses=activeThread.addresses)}}
    {{conversation-view threadId=activeThread.androidId contacts=activeThread.contacts}}
</div>

{{modal-service}}