<div class="screen-wrapper">
    <div class="screen">
        <div class="demo-threads">
            <div class="top row-height">
                <i class="material-icons">menu</i>
                <span class="textto">Textto</span>
                <i class="material-icons">chat</i>
            </div>
            {{#each threads as |thread|}}
                <div class="demo-thread row-height {{thread.class}}">
                    <img class="demo-contact" src={{thread.image}}>
                    <div class="details">
                        <div class="name">{{thread.name}}</div>
                        <div class="snippet">{{emoji-text content=thread.snippet}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="demo-top-bar row-height">
            <img class="demo-contact" src={{threads.0.image}}>
            <div class="details">
                <div class="name">{{threads.0.name}}</div>
                <div class="snippet">
                    {{emoji-text content=threads.0.snippet}}
                </div>
            </div>
        </div>
        <div class="demo-content-container">
            <send-box>
                <send-box-input placeholder="Message {{threads.0.name}}..."></send-box-input>
            </send-box>
            <div class="demo-messages">
                {{#each messages as |message|}}
                    <message-view class="{{message.class}} animated">
                        {{#if message.image}}
                            <img src={{message.image}}>
                        {{else}}
                            <message-bubble class={{message.length}}></message-bubble>
                        {{/if}}
                    </message-view>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="lower"></div>