{{input placeholder="search" keyUp=(action "search") value=q}}
<div class="results">
    {{#if showResults}}
        {{#each searchResults as |emoji|}}
            {{{emoji}}}
        {{/each}}
    {{else}}
        {{#each baseEmojis as |emoji|}}
            {{{emoji}}}
        {{/each}}
    {{/if}}
</div>
<div class="emoji-tabs">
    {{#each tabs as |tab|}}
        <i class="emoji-tab material-icons {{if tab.active 'active-text'}}"
        {{action 'changeTab' tab}}>
        {{tab.symbol}}</i>
    {{/each}}
</div>