<li class=".user-view-wrapper">
    <div class="user-view">
        <div class="background">
            <img src="/images/bg.jpg">
        </div>
        <img class="image circle" src={{user.image}}>
        <div class="name">{{user.displayName}}</div>
        <div class="email">{{user.email}}</div>
    </div>
</li>

<li class="important disabled padded-item">
    <a class="disabled" id="coming-soon" data-tooltip="Coming Soon!" data-delay="0">
        <i class="material-icons">get_app</i>
        Download the Desktop App
    </a>
</li>
<div class="divider"></div>

<li class="padded-item">
    <a class="waves-effect" {{action 'manageDevices'}}>
        <i class="material-icons">phone_android</i>
        Manage Devices
    </a>
</li>

<li class="padded-item">
    <a class="waves-effect" {{action 'syncContacts'}}>
        <i class="material-icons">person</i>
        Sync Contacts
        {{#if syncingContacts}}
            {{loading-view class="contact-loader"}}
        {{/if}}
    </a>
</li>

<li class="padded-item">
    <a>
        <i class="material-icons">notifications</i>
        Notifications
        <div class="switch">
            <label>
                {{input type="checkbox" checked=notifications change=(action 'onNotificationsChange')}}
                <span class="lever"></span>
            </label>
        </div>
    </a>
</li>
<div class="divider"></div>

<li class="padded-item">
    <a class="waves-effect" href="mailto:help@textto.io">
        <i class="material-icons">email</i>
        Contact Support
    </a>
</li>

<li class="logout padded-item">
    <a class="waves-effect" {{action 'logOut'}}>
        <i class="material-icons">power_settings_new</i>
        Log Out
    </a>
</li>