<li class=".user-view-wrapper">
    <div class="user-view">
        <div class="background">
            <img src="/images/bg.jpg">
        </div>
        <img class="image circle" src={{user.image}}>
        <div class="name">{{user.displayName}}</div>
        <div class="email">{{user.email}}</div>
    </div>
</li>

{{#if web}}
    <li class="important disabled padded-item">
        <a class="color-text-primary" href="/downloads">
            <i class="material-icons color-text-primary">get_app</i>
            Download the Desktop App
        </a>
    </li>
    <div class="divider"></div>
{{/if}}

<li class="padded-item">
    <a class="waves-effect color-text-primary" {{action 'openThemes'}}>
        <i class="material-icons color-text-primary">invert_colors</i>
        Themes
    </a>
</li>

<li class="padded-item">
    <a class="waves-effect color-text-primary" {{action 'manageDevices'}}>
        <i class="material-icons color-text-primary">phone_android</i>
        Manage Devices
    </a>
</li>

<li class="padded-item">
    <a class="waves-effect color-text-primary" {{action 'syncContacts'}}>
        <i class="material-icons color-text-primary">person</i>
        Sync Contacts
        {{#if syncingContacts}}
            {{loading-view class="contact-loader"}}
        {{/if}}
    </a>
</li>

<li class="padded-item">
    <a class="color-text-primary">
        <i class="material-icons">notifications</i>
        Notifications
        <div class="switch">
            <label>
                {{input type="checkbox" checked=notifications change=(action 'onNotificationsChange')}}
                <span class="lever"></span>
            </label>
        </div>
    </a>
</li>
<li class="padded-item">
    <a class="color-text-primary">
        <i class="material-icons">remove_red_eye</i>
        <span class="bounded">
            Hide Notification Text
        </span>
        <div class="switch">
            <label>
                {{input type="checkbox" checked=hideNotificationText change=(action 'onNotificationTextChange')}}
                <span class="lever"></span>
            </label>
        </div>
    </a>
</li>
<div class="divider"></div>

<li class="padded-item">
    <a class="waves-effect color-text-primary" href="mailto:help@textto.io">
        <i class="material-icons">email</i>
        Contact Support
    </a>
</li>
<li class="padded-item">
    <a class="waves-effect color-text-primary" target="_blank" href="https://textto.io/faq">
        <i class="material-icons">help</i>
        FAQ
    </a>
</li>

<li class="logout padded-item">
    <a class="waves-effect" {{action 'logOut'}}>
        <i class="material-icons">power_settings_new</i>
        Log Out
    </a>
</li>