<div class="mask" {{action 'close'}}></div>
<img src={{data}}/>
<div class="icons">
    <a href={{data}} download={{data}}>
        <i class="material-icons">file_download</i>
    </a>
    <i class="material-icons" {{action 'close'}}>clear</i>
</div>

