{{#if showEncryptionSetup}}
    {{encryption-setup
    on-skip='finish'
    on-enabled='finish'}}
{{else}}
    <login-view>
        <a href="/" class="logos">
            <img class="logo" src="/images/logo.png">
            <div class="logo" >SendLeap</div>
        </a>
        {{#if isLoading }}
            {{loading-view}}
        {{else}}
            <img class="sign-in" src="/images/g-signin.png" {{action 'login'}}>
        {{/if}}
        {{#if error}}
            <div class="error">An error occurred during sign in. Try again in a minute.</div>
        {{/if}}
        <div class="subtext">
            By using this site you agree to the <a href="/legal/terms" target="_blank">terms and conditions</a> and <a href="/legal/privacy" target="_blank">privacy policy</a>.
        </div>
    </login-view>
{{/if}}