{{contact-picture contact=thread.contact}}
<div class="details">
    <div class="name">
        {{#if thread.contact.name}}
            {{{name}}}
        {{else}}
            {{thread.address}}
        {{/if}}
    </div>
    <div class="snippet">
        {{{snippet}}}
    </div>
</div>