{{#if isLoading}}
    {{loading-view}}
{{/if}}
{{#if mms}}
    {{#each message.parts as |part|}}
        {{mms-part part=part message=message}}
        <br>
    {{/each}}
{{else}}
    {{#if message.failed}}
        <ul id="dropdown-{{message._id}}" class="dropdown-content">
            <li><a {{action 'retry'}}>Retry</a></li>
            <li><a {{action 'delete'}}>Delete</a></li>
        </ul>
        <a class="dropdown-button" data-activates="dropdown-{{message._id}}">
            <i class="material-icons error">error_outline</i>
        </a>
    {{/if}}

    {{#if message.fileUrl}}
        <img class="img-small" src={{message.fileUrl}}>
    {{else}}
        {{! Just do text matching here instead of in emoji-text}}
        <message-bubble class="{{if isSingleEmoji 'single-emoji'}}">
            {{emoji-text content=message.body linkify=true}}
        </message-bubble>
    {{/if}}
{{/if}}