{{#if isLoading}}
    {{loading-view}}
{{/if}}
{{#if mms}}
    {{#each message.parts as |part|}}
        {{mms-part part=part message=message isScheduled=isScheduled}}
        <br>
    {{/each}}
{{else}}
    {{#if message.failed}}
        <a {{action 'openFailedModal'}}>
            <i class="material-icons error">error_outline</i>
        </a>
    {{/if}}

    {{#if message.fileUrl}}
        <img class="img-small" src={{message.fileUrl}}>
    {{else}}
        {{! Just do text matching here instead of in emoji-text}}
        <message-bubble class="{{if isSingleEmoji 'single-emoji'}}">
            {{emoji-text content=message.body linkify=true}}
            {{#unless isScheduled}}
                {{link-preview text=message.body}}
            {{/unless}}
        </message-bubble>
    {{/if}}
{{/if}}