<div class="modal-content">

    <div class="input-field to">
        <span class="to-names">
            {{#each to as |contact|}}
                {{contact-name contact}}, 
            {{/each}}
        </span>
        {{input id="to" type="text" keyUp='keyUp' value=searchTerm placeholder=(if to.length ' ')}}
        <label for="to">To</label>

        {{#if searchResults}}
            <div class="results">
                {{#each searchResults as |result|}}
                    <div class="contact" {{action 'select' result}}>
                        {{contact-picture contact=result length=1}}
                        <div class="names">
                            <div class="name">
                                {{result.name}}
                            </div>
                            <div class="address">
                                {{result.address}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>

    <div class="input-field message">
        {{input id="message" type="text" value=message}}
        <label for="message">Message</label>
    </div>

    {{#if error}}
        <div class="errors">
            {{error}}
        </div>
    {{/if}}

    {{#if isLoading }}
        {{loading-view class="bottom-right"}}
    {{else}}
        <a class="btn-floating btn-small waves-effect waves-light bottom-right {{if sendDisabled 'disabled'}}" {{action 'send'}}>
            <i class="material-icons">send</i>
        </a>
    {{/if}}
</div>
