<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="modal-content">
    <div class="title">Remove Ads Forever!</div>
    <div class="subtitle">
        Your support keeps SendLeap's servers running! We couldn't offer this great service for free without your help!
    </div>

    {{#if isLoading}}
        {{loading-view}}
    {{else if removed}}
        <div class="thank-you">
            Thank you so much!
        </div>
    {{else}}
        <div class="actions">
            <div class="cta" {{action 'removeAds'}}>Remove Ads for $3.99</div>
        </div>
    {{/if}}
    {{error-view error=error}}

</div>